.typesRamas {
    margin-right: 10px;
}


.borderProject{
    position: absolute;
    width: 0;
    height: 2px;
    background-color: #f5d2b3;
    bottom: 0;
    left: 0;
    transition: left .2s;
}

.button-cutes {
    isolation: isolate;
    overflow: hidden;
    align-items: center;
    -webkit-backdrop-filter: blur(6px);
    backdrop-filter: blur(6px);
    border-radius: 10px;
    box-shadow: inset 0 -7px 11px #eae6ff1f;
    display: flex;
    padding: 7px 40px;
    color: #ffffff;
    position: relative;
    border: 1px solid #787985;
    font-weight: 400;
    transition: .45s cubic-bezier(.6, .6, 0, 1) box-shadow;
}

.button-cutes:hover {
    box-shadow: inset 0 -7px 11px #fcf2f23d;
}