.inProcess::after {
    content: "";
    position: absolute;
    width: 8px;
    height: 8px;
    background-color: #80C616;
    border-radius: 50%;
    animation: process 3s infinite cubic-bezier(0.785, 0.135, 0.15, 0.86);
    top: 0;
    bottom: 0;
    left: -1px;
    right: 0;
    margin: auto;
}

@keyframes process {
    0% {transform: scale(0);}
    100% {
        transform: scale(1.9);
        opacity: 0;
    }
}